Repository ClickHouse/ClickBOM: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-no-replacement, go-critic, go-cyclo, golangci-lint

go-no-replacement:
  name: Check for replace directives in go.mod
  entry: 'bash -c ''if grep -q "^replace " go.mod; then echo "Error: go.mod contains replace directives"; exit 1; fi'''
  language: system

go-critic:
  name: Go critic
  entry: gocritic check ./...
  language: system
  pass_filenames: false

go-cyclo:
  name: Check cyclomatic complexity
  entry: gocyclo -over 25 .
  language: system
  pass_filenames: false

golangci-lint:
  name: golangci-lint
  entry: golangci-lint run --fix
  language: system
  pass_filenames: false

test: e2e
  .github/workflows/tests.yml
Due: none

ok
  .github/CODEOWNERS
  .github/dependabot.yml
  .github/workflows/docker-security.yml
  .github/workflows/tests.yml
  .gitignore
  Dockerfile
  LICENSE
  README.md
  action.yml
  entrypoint.sh
  lib/common.sh
  lib/github.sh
  lib/mend.sh
  lib/sanitize.sh
  lib/sbom-merging.sh
  lib/sbom-processing.sh
  lib/validation.sh
  lib/wiz.sh
  license-mappings.json
  run-tests.sh
  setup-bats.sh
  test/advanced.bats
  test/simple.bats
Due: none

test: fix benchmark
  .github/workflows/tests.yml
Due: none

add Benchmark (go) benchmark result for 2b959fc806a0e7433ab61589d3bdf0697ab5f905
  dev/bench/data.js
  dev/bench/index.html
Due: none

test: fix security check
  .github/workflows/tests.yml
Due: none

add Benchmark (go) benchmark result for 0cd7d4d9885448070aa4951d965577499b91af43
  dev/bench/data.js
Due: none

add Benchmark (go) benchmark result for 3568d114747f24bae3ddded8d321cd7f7da8787e
  dev/bench/data.js
Due: none

chore(feature/go): License Mapper
  .golangci.yml
  internal/config/config.go
  internal/sbom/license_mapper.go
  internal/sbom/license_mapper_integration_test.go
  internal/sbom/license_mapper_test.go
  internal/storage/clickhouse.go
Due: go-critic, go-cyclo, golangci-lint

add Benchmark (go) benchmark result for 4ac5c9d6b95495755203ee98256c7acfc6ff0099
  dev/bench/data.js
Due: none

chore(feature/go): License Mapper (#54)
  .golangci.yml
  internal/config/config.go
  internal/sbom/license_mapper.go
  internal/sbom/license_mapper_integration_test.go
  internal/sbom/license_mapper_test.go
  internal/storage/clickhouse.go
Due: go-critic, go-cyclo, golangci-lint

add Benchmark (go) benchmark result for 5b3636db01c76d4eef6560db63bb212cdc24b7a9
  dev/bench/data.js
Due: none

chore(feature/go): Trivy Integration
  .pre-commit-config.yaml
  Dockerfile
  action.yml
  cmd/clickbom/main.go
  go.mod
  internal/config/config.go
  internal/sbom/trivy.go
Due: go-no-replacement, go-critic, go-cyclo, golangci-lint

add Benchmark (go) benchmark result for 953e3263fb940861964e6ecced7045e8a27d85ae
  dev/bench/data.js
Due: none

fix(debug): extract from wrapper function
  internal/sbom/processing.go
Due: go-critic, go-cyclo, golangci-lint

add Benchmark (go) benchmark result for 5e441d0370dafc80b0c8361159ae8d33ff008212
  dev/bench/data.js
Due: none

fix(debug): extract json from zip
  internal/sbom/mend.go
Due: go-critic, go-cyclo, golangci-lint

add Benchmark (go) benchmark result for 3b433f5931a8705307fde2ea70f3b7763bfcba45
  dev/bench/data.js
Due: none

fix(debug): remove debug print of sbom
  internal/sbom/processing.go
Due: go-critic, go-cyclo, golangci-lint

add Benchmark (go) benchmark result for e36ba6e38d94c06e49defb456406f309b4d80397
  dev/bench/data.js
Due: none

fix(aws): Some inputs are not longer required
  action.yml
Due: none

add Benchmark (go) benchmark result for 96277d6adeddae027310dff8ba2a0d72e2dbc8a3
  dev/bench/data.js
Due: none

fix(aws): Some inputs are not longer required
  cmd/clickbom/main.go
  internal/config/config.go
  internal/config/config_test.go
  internal/storage/s3.go
Due: go-critic, go-cyclo, golangci-lint

add Benchmark (go) benchmark result for 4f25ce4756796cea87d05a8723ad3d5864b0e131
  dev/bench/data.js
Due: none

fix: add trivy to config validation
  internal/config/config.go
Due: go-critic, go-cyclo, golangci-lint

add Benchmark (go) benchmark result for 7fec6436589f110dc4de59822f779dae322eae90
  dev/bench/data.js
Due: none

fix: add trivy to config validation
  internal/storage/s3_test.go
Due: go-critic, go-cyclo, golangci-lint

add Benchmark (go) benchmark result for faf30d7fc67888d9d1d4f178486159a946051399
  dev/bench/data.js
Due: none

add Benchmark (go) benchmark result for d8526dd97341f34d03358b3102357af6e0442785
  dev/bench/data.js
Due: none

fix: ecr auth
  go.mod
  internal/config/config.go
  internal/sbom/trivy.go
Due: go-no-replacement, go-critic, go-cyclo, golangci-lint

add Benchmark (go) benchmark result for 100d2b5222db206693fda3bde38b61332ea29bc8
  dev/bench/data.js
Due: none

fix: trivy clickhouse table name
  cmd/clickbom/main.go
Due: go-critic, go-cyclo, golangci-lint

add Benchmark (go) benchmark result for 667ce8111f7122fc7d816c6734328d18d6260cbe
  dev/bench/data.js
Due: none

feat: ability to do application scope reports
  internal/sbom/mend.go
Due: go-critic, go-cyclo, golangci-lint

add Benchmark (go) benchmark result for e7ee3274beb46bc9c9b3f9ef454534bbf2c704b7
  dev/bench/data.js
Due: none

fix: i don't think org uuid is always required
  internal/config/config.go
Due: go-critic, go-cyclo, golangci-lint

add Benchmark (go) benchmark result for 22a8ea1ba4ec09bd463d67b01c674f0c439be815
  dev/bench/data.js
Due: none

fix: if no projectUuids are provided
  internal/sbom/mend.go
Due: go-critic, go-cyclo, golangci-lint

Path conditions:
  go-no-replacement: any of: go\.mod$
  go-critic: any of: \.go$
  go-cyclo: any of: \.go$
  golangci-lint: any of: \.go$
