Repository ClickHouse/ClickBOM: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-no-replacement, go-critic, go-cyclo, golangci-lint

go-no-replacement:
  name: Check for replace directives in go.mod
  entry: 'bash -c ''if grep -q "^replace " go.mod; then echo "Error: go.mod contains replace directives"; exit 1; fi'''
  language: system

go-critic:
  name: Go critic
  entry: gocritic check ./...
  language: system
  pass_filenames: false

go-cyclo:
  name: Check cyclomatic complexity
  entry: gocyclo -over 25 .
  language: system
  pass_filenames: false

golangci-lint:
  name: golangci-lint
  entry: golangci-lint run --fix
  language: system
  pass_filenames: false

add Benchmark (go) benchmark result for 745a1df6072ab062bcf7d12c1b729026d0afde40
  dev/bench/data.js
Due: none

fix: mend-project-uuids
  internal/config/config.go
Due: go-critic, go-cyclo, golangci-lint

add Benchmark (go) benchmark result for f4836d19d963931a8f21c1c765f6050f62cab439
  dev/bench/data.js
Due: none

fix: maxDepthLevel
  internal/sbom/mend.go
Due: go-critic, go-cyclo, golangci-lint

add Benchmark (go) benchmark result for 400b32d757bc17e91feadcd31dd6574b6dad18d4
  dev/bench/data.js
Due: none

add Benchmark (go) benchmark result for fe1fe95b8a231064a6fbf3eef2c14e332220dc78
  dev/bench/data.js
Due: none

add Benchmark (go) benchmark result for dd7ea7d19f25085a650b1ac7a09d37b42c55b268
  dev/bench/data.js
Due: none

add Benchmark (go) benchmark result for 7d693a494915be21439deb9fa20fb5a01b6035fb
  dev/bench/data.js
Due: none

add Benchmark (go) benchmark result for 9f47927607c8eafa32c81501b600cf8376699a5c
  dev/bench/data.js
Due: none

add Benchmark (go) benchmark result for 5cbe317c60aec555091a2f73007ed63e9e673bf1
  dev/bench/data.js
Due: none

add Benchmark (go) benchmark result for c9adcf81ec0161e62bcc585c78f617a8333b0eda
  dev/bench/data.js
Due: none

fix: stuff
  internal/sbom/mend.go
Due: go-critic, go-cyclo, golangci-lint

add Benchmark (go) benchmark result for 80055ec51305f7e84ea03e514e86f3010f104dbe
  dev/bench/data.js
Due: none

feat: add merge
  cmd/clickbom/main.go
  go.mod
  go.sum
  internal/sbom/filter.go
  internal/sbom/license_mapper.go
  internal/sbom/merge.go
  internal/storage/s3.go
Due: go-no-replacement, go-critic, go-cyclo, golangci-lint

add Benchmark (go) benchmark result for 88b80be48024568dc50034029e65d5bbd7e7e9c5
  dev/bench/data.js
Due: none

feat: add merge
  cmd/clickbom/main.go
Due: go-critic, go-cyclo, golangci-lint

add Benchmark (go) benchmark result for e7a5e5e0f0fd036d4012719cbd43bd9622b395a9
  dev/bench/data.js
Due: none

add Benchmark (go) benchmark result for 4547913aa66c7f27ddf4c2adb322fdcee02054bf
  dev/bench/data.js
Due: none

fix: lint
  internal/sbom/merge.go
Due: go-critic, go-cyclo, golangci-lint

add Benchmark (go) benchmark result for 7b39d425ff9868c6c760d6748c6cdb472696dacf
  dev/bench/data.js
Due: none

chore(feature/go): Trivy Integration (#55)
  .pre-commit-config.yaml
  Dockerfile
  action.yml
  cmd/clickbom/main.go
  go.mod
  go.sum
  internal/config/config.go
  internal/config/config_test.go
  internal/sbom/filter.go
  internal/sbom/license_mapper.go
  internal/sbom/mend.go
  internal/sbom/merge.go
  internal/sbom/trivy.go
  internal/storage/s3.go
  internal/storage/s3_test.go
Due: go-no-replacement, go-critic, go-cyclo, golangci-lint

add Benchmark (go) benchmark result for d9247c392fc47c00bb929fa8c2e824fc440f7e1a
  dev/bench/data.js
Due: none

feat(go): License Updates and Test Migrations
  .github/workflows/tests.yml
  license-mappings.json
Due: none

add Benchmark (go) benchmark result for 9c5d8e8025179eae0a814e1caf2b4340d09ddb29
  dev/bench/data.js
Due: none

feat(go): License Updates and Test Migrations
  license-mappings.json
Due: none

add Benchmark (go) benchmark result for 1aadf4f580e777b36d961864a3b3140457acb3ca
  dev/bench/data.js
Due: none

chore: more licenses
  license-mappings.json
Due: none

add Benchmark (go) benchmark result for feede275309ea32ddb771f98c1f5316a1c25485d
  dev/bench/data.js
Due: none

fix: merged problem
  .gitignore
  cmd/clickbom/main.go
Due: go-critic, go-cyclo, golangci-lint

add Benchmark (go) benchmark result for 4ee8fc7f013befdb84e69427d27ae52966f05b09
  dev/bench/data.js
Due: none

feat(parity): close bashgo gaps before merging feature/go-complete-migration
  CLAUDE.md
  README.md
  action.yml
  cmd/clickbom/main.go
  cmd/clickbom/main_test.go
  internal/config/config.go
  internal/config/config_test.go
  internal/sbom/filter_test.go
  internal/sbom/github.go
  internal/sbom/github_test.go
  internal/sbom/mend.go
  internal/sbom/merge.go
  internal/sbom/merge_test.go
  internal/sbom/processing.go
  internal/sbom/processing_integration_test.go
  internal/sbom/processing_test.go
  internal/sbom/wiz.go
  internal/sbom/wiz_test.go
  internal/storage/clickhouse.go
  internal/storage/clickhouse_extract_test.go
  internal/storage/clickhouse_integration_test.go
  internal/storage/e2e_test.go
  internal/storage/s3_integration_test.go
  internal/validation/sanitize.go
  internal/validation/sanitize_test.go
Due: go-critic, go-cyclo, golangci-lint

add Benchmark (go) benchmark result for 7cfbdf8da87ee4b34d459827bf259e75f824de66
  dev/bench/data.js
Due: none

Path conditions:
  go-no-replacement: any of: go\.mod$
  go-critic: any of: \.go$
  go-cyclo: any of: \.go$
  golangci-lint: any of: \.go$
