Repository ClickHouse/ClickBOM: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-no-replacement, go-critic, go-cyclo, golangci-lint

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
      - id: end-of-file-fixer
      - id: check-yaml
        args: [--unsafe]  # Allow custom YAML tags
      - id: check-json
      - id: check-toml
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: detect-private-key
      - id: mixed-line-ending
      - id: no-commit-to-branch
        args: [--branch, main, --branch, master]

  # Go formatting
  - repo: https://github.com/dnephin/pre-commit-golang
    rev: v0.5.1
    hooks:
      - id: go-fmt
        name: Format Go code with gofmt
        description: Runs `gofmt -s -w` on all Go files

      - id: go-imports
        name: Format Go imports with goimports
        description: Runs `goimports -w` on all Go files
        args: [-local, github.com/ClickHouse/ClickBOM]

      - id: go-unit-tests
        name: Go unit tests
        description: Runs `go test` on all packages
        args: [-short, -race]

      - id: go-build
        name: Go build
        description: Runs `go build` to ensure code compiles

      - id: go-mod-tidy
        name: Tidy Go modules
        description: Runs `go mod tidy` to clean up go.mod and go.sum

  # Additional Go checks
  - repo: local
    hooks:
      - id: go-no-replacement
        name: Check for replace directives in go.mod
        entry: "bash -c 'if grep -q \"^replace \" go.mod; then echo \"Error: go.mod contains replace directives\"; exit 1; fi'"
        language: system
        files: go\.mod$

      - id: go-critic
        name: Go critic
        entry: gocritic check ./...
        language: system
        pass_filenames: false
        files: \.go$

      - id: go-cyclo
        name: Check cyclomatic complexity
        entry: gocyclo -over 25 .
        language: system
        pass_filenames: false
        files: \.go$

      - id: golangci-lint
        name: golangci-lint
        entry: golangci-lint run --fix
        language: system
        pass_filenames: false
        files: \.go$

  # YAML linting
  - repo: https://github.com/adrienverge/yamllint
    rev: v1.37.1
    hooks:
      - id: yamllint
        args: [-d, relaxed]

  # Dockerfile linting
  - repo: https://github.com/hadolint/hadolint
    rev: v2.14.0
    hooks:
      - id: hadolint-docker
        args: [--ignore, DL3018]  # Ignore pinning versions in apk add

  # Commit message linting
  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v4.3.0
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]

feat(parity): close bashgo gaps before merging feature/go-complete-migration
  cmd/clickbom/main.go
  internal/config/config.go
  internal/sbom/mend.go
  internal/sbom/merge.go
  internal/sbom/processing.go
  internal/sbom/wiz.go
  internal/storage/clickhouse.go
Due: go-critic, go-cyclo, golangci-lint

add Benchmark (go) benchmark result for 9866a6b828b92afc786d0454a95354f8674244f9
  dev/bench/data.js
Due: none

feat(parity): close bashgo gaps before merging feature/go-complete-migration
  .github/workflows/tests.yml
  Dockerfile
  go.mod
Due: go-no-replacement

add Benchmark (go) benchmark result for 7ba6f554015f1435416393c07d8f1051850fb16a
  dev/bench/data.js
Due: none

feat(parity): close bashgo gaps before merging feature/go-complete-migration
  .github/workflows/tests.yml
Due: none

add Benchmark (go) benchmark result for cdf36137a52c2a0fe23544f11f75b213a6ea8da1
  dev/bench/data.js
Due: none

add Benchmark (go) benchmark result for 60b4f11d3ebc7921b66332830b822c7f1e935fd7
  dev/bench/data.js
Due: none

add Benchmark (go) benchmark result for e48f51c5eb45880da21e4f8cfb6419598716e178
  dev/bench/data.js
Due: none

feat(parity): close bashgo gaps before merging feature/go-complete-migration (#63)
  .github/workflows/docker-security.yml
  .github/workflows/tests.yml
  CLAUDE.md
  Dockerfile
  README.md
  action.yml
  cmd/clickbom/main.go
  cmd/clickbom/main_test.go
  go.mod
  internal/config/config.go
  internal/config/config_test.go
  internal/sbom/filter_test.go
  internal/sbom/github.go
  internal/sbom/github_test.go
  internal/sbom/mend.go
  internal/sbom/merge.go
  internal/sbom/merge_test.go
  internal/sbom/processing.go
  internal/sbom/processing_integration_test.go
  internal/sbom/processing_test.go
  internal/sbom/wiz.go
  internal/sbom/wiz_test.go
  internal/storage/clickhouse.go
  internal/storage/clickhouse_extract_test.go
  internal/storage/clickhouse_integration_test.go
  internal/storage/e2e_test.go
  internal/storage/s3_integration_test.go
  internal/validation/sanitize.go
  internal/validation/sanitize_test.go
Due: go-no-replacement, go-critic, go-cyclo, golangci-lint

add Benchmark (go) benchmark result for 077c4357c8d98b90c03c9cd8ab65a5870a48a6c1
  dev/bench/data.js
Due: none

add Benchmark (go) benchmark result for e8a0e952f4e10026a5e92ca511be72389edce52d
  dev/bench/data.js
Due: none

add Benchmark (go) benchmark result for 4dbd51b526a4da3a8dfbbe9531910dc7af969d94
  dev/bench/data.js
Due: none

add Benchmark (go) benchmark result for 18bd4421f86fb70dffd6120c787d71e73926f2d3
  dev/bench/data.js
Due: none

Potential fix for pull request finding
  go.mod
Due: go-no-replacement

add Benchmark (go) benchmark result for 75fa68ef7ab94c322143a3a9626c6b53bbee6b4c
  dev/bench/data.js
Due: none

Potential fix for pull request finding
  internal/sbom/github.go
Due: go-critic, go-cyclo, golangci-lint

add Benchmark (go) benchmark result for 2d8da79bf1b02ad739b62b9cc40dd6507f57f7ec
  dev/bench/data.js
Due: none

feat(go): Migration
  internal/storage/s3.go
  internal/storage/s3_test.go
Due: go-critic, go-cyclo, golangci-lint

add Benchmark (go) benchmark result for 9e58c605a6f906527a13bfa27ae350441f2c04dd
  dev/bench/data.js
Due: none

feat(go): Migration
  go.mod
  go.sum
Due: go-no-replacement

add Benchmark (go) benchmark result for 9d2dfeb15daa3e8050cb4d0d4d4617d5916327c7
  dev/bench/data.js
Due: none

feat(go): Migration
  internal/storage/clickhouse.go
  internal/storage/clickhouse_extract_test.go
  internal/validation/sanitize.go
  internal/validation/sanitize_test.go
Due: go-critic, go-cyclo, golangci-lint

add Benchmark (go) benchmark result for 6c101f54152ed5d5aa62cfb682adfe716a617ac3
  dev/bench/data.js
Due: none

add Benchmark (go) benchmark result for b18f7bafb1b9a22d539f162009adb272d03e6fab
  dev/bench/data.js
Due: none

add Benchmark (go) benchmark result for a3cfd1db83e4ec18c92000c277ee1fe0f2fa934b
  dev/bench/data.js
Due: none

add Benchmark (go) benchmark result for 23c9fa30b7f6c469c5231c2db9d5705e3e146eec
  dev/bench/data.js
Due: none

add Benchmark (go) benchmark result for 1828f400defa3f89d35f96c2d3fdef2041795a6b
  dev/bench/data.js
Due: none

add Benchmark (go) benchmark result for 24b9b031c64ce0facd8e09f7731a1f6e5f1371f9
  dev/bench/data.js
Due: none

add Benchmark (go) benchmark result for 73905bd8804ad1de85975dc383f04b47df88fe7b
  dev/bench/data.js
Due: none

add Benchmark (go) benchmark result for 2b268ccf4d2fc61aa7279694262868e3795f8594
  dev/bench/data.js
Due: none

add Benchmark (go) benchmark result for 268ad038050166cfd60a7950df6c43d18b3d7185
  dev/bench/data.js
Due: none

add Benchmark (go) benchmark result for ec131f942e56755218571aaf96b1355702e84bb5
  dev/bench/data.js
Due: none

add Benchmark (go) benchmark result for df76122c1598dd8d34176101923afa086ab0992d
  dev/bench/data.js
Due: none

add Benchmark (go) benchmark result for 20bcbce3ef0eac4614249b66fe295d41d7c064b9
  dev/bench/data.js
Due: none

add Benchmark (go) benchmark result for 99b6544837b9a8e711a3f54f6250fb6a4c51a6fe
  dev/bench/data.js
Due: none

add Benchmark (go) benchmark result for c6e41a70d1d25b14c4b0995c51e4576f293d7d62
  dev/bench/data.js
Due: none

add Benchmark (go) benchmark result for 27e4759d64cf8e391eee976cbb0ecb5608b2bd75
  dev/bench/data.js
Due: none
